@tailwind base;
@tailwind components;
@tailwind utilities;

/*Appliquer un style général aux grid de MuiGrid*/
.MuiGrid-root {
    margin-top: 0 !important;
    width: 100%;
    box-sizing: border-box;
}
